## IS 362 – Week 5 Assignment

Main Questions Answered
<ol>
<li> What is the northernmost airport in the United States?
<li> What is the easternmost airport in the United States?
<li> On February 12th, 2013, which New York area airport had the windiest weather?
</ol>

In [5]:
import pandas as pd
#set some pandas options controling output format
pd.set_option('display.notebook_repr_html',True) # output as flat text and not HTML
pd.set_option('display.max_rows',6) # this is the maximum number of rows we will display

# read the csv into a dataframe
airports = pd.read_csv('airports.csv')

# Display the columns in the dataframe, and get a peak at how it's formatted
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5.0,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6.0,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6.0,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5.0,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5.0,A,America/New_York

In [6]:
# sort the list by latitude in descending order. This will display the airports with
# the highest latitude first.
airports.sort_values(['lat'], ascending=[False])

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9.0,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9.0,A,America/Anchorage
...,...,...,...,...,...,...,...,...
231,BSF,Bradshaw Aaf,19.760056,-155.553717,6190,-10.0,A,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10.0,N,Pacific/Honolulu
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10.0,N,Pacific/Honolulu

<b>Answer to 'What is the northernmost airport in the United States?'</b><br/>

Wiley Post-Will Rogers Memorial Airport is correct

In [8]:
# sort the list by latitude in descending order. This will display the airports with
# the highest latitude first.
pd.set_option('display.max_rows',10) # this is the maximum number of rows we will display
airports.sort_values(['tz','lon'], ascending=[False, False])

,faa,name,lat,lon,alt,tz,dst,tzone
942,MYF,Montgomery Field,32.475900,117.759000,17,8.0,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8.0,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5.0,A,\N
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5.0,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5.0,A,America/New_York
...,...,...,...,...,...,...,...,...
600,HNL,Honolulu Intl,21.318681,-157.922428,13,-10.0,N,Pacific/Honolulu
587,HHI,Wheeler Aaf,21.483500,-158.039667,837,-10.0,A,Pacific/Honolulu
580,HDH,Dillingham,21.579475,-158.197281,14,-10.0,A,Pacific/Honolulu
794,LIH,Lihue,21.975983,-159.338958,153,-10.0,N,Pacific/Honolulu
207,BKH,Barking Sands Pmrf,22.022833,-159.785000,23,-10.0,A,Pacific/Honolulu

<b>Answer to 'What is the easternmost airport in the United States?'</b><br/>

Cross referencing our results with google maps it appears that our top 3 reulsts are incorrect. The first two are in the wrong timezone, and as we know from the previous search Dillant Hopkins Airport is in New Hampshire. Eastport Municipal Airport

In [12]:

# read the csv into a dataframe
weather = pd.read_csv('weather.csv')

# Display the columns in the dataframe, and get a peak at how it's formatted
weather.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

In [13]:
# Filter out the correct year, month and day.
# Then sort the dataframe by wind_speed
# Using this it would appear that EWR had the windiest weather on 12Feb13. However the windspeed on that
# day appears to be incorrect. 
weather[((weather.year == 2013) & \
         (weather.month == 2)) & \
        (weather.day == 12)] \
        .sort_values('wind_speed', ascending = False)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,EWR,2013,2,12,0,39.92,39.02,96.55,240.0,6.90468,NaN,0.0,1006.9,10.0,2013-02-12T05:00:00Z
1027,EWR,2013,2,12,21,35.96,24.08,61.67,300.0,5.75390,NaN,0.0,1013.0,10.0,2013-02-13T02:00:00Z
18415,LGA,2013,2,12,0,42.08,37.40,86.89,NaN,4.60312,NaN,0.0,NaN,10.0,2013-02-12T05:00:00Z
9709,JFK,2013,2,12,0,42.08,37.04,82.17,280.0,4.60312,NaN,0.0,1007.1,10.0,2013-02-12T05:00:00Z
1029,EWR,2013,2,12,23,35.96,23.00,58.94,250.0,4.60312,NaN,0.0,1013.7,10.0,2013-02-13T04:00:00Z

In [14]:

# Filter out the correct year, month and day. Also filter out incorrect windspeeds I used 350 because 
# 301 ± 20 mph were the highest winds ever recorded on earth (https://en.wikipedia.org/wiki/Tornado_records)
# I Then sort the dataframe by wind_speed
# Using this it would appear that LGA had the windiest weather on 12Feb13. However the this dataset is broken
# down by hour.
weather[((weather.year == 2013) & \
         (weather.month == 2)) & \
        (weather.day == 12) & \
        (weather.wind_speed < 350)] \
        .sort_values('wind_speed', ascending = False)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
1008,EWR,2013,2,12,2,39.92,28.04,62.21,270.0,20.71404,25.31716,0.0,1007.8,10.0,2013-02-12T07:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,EWR,2013,2,12,0,39.92,39.02,96.55,240.0,6.90468,NaN,0.0,1006.9,10.0,2013-02-12T05:00:00Z
1027,EWR,2013,2,12,21,35.96,24.08,61.67,300.0,5.75390,NaN,0.0,1013.0,10.0,2013-02-13T02:00:00Z
18415,LGA,2013,2,12,0,42.08,37.40,86.89,NaN,4.60312,NaN,0.0,NaN,10.0,2013-02-12T05:00:00Z
9709,JFK,2013,2,12,0,42.08,37.04,82.17,280.0,4.60312,NaN,0.0,1007.1,10.0,2013-02-12T05:00:00Z
1029,EWR,2013,2,12,23,35.96,23.00,58.94,250.0,4.60312,NaN,0.0,1013.7,10.0,2013-02-13T04:00:00Z

In [15]:
# To account for the fact that the wind data is taken every hour I will take the average hourly 
# windspeed for each airport that day.
weather[((weather.year == 2013) & \
         (weather.month == 2)) & \
        (weather.day == 12) & \
        (weather.wind_speed < 350)] \
        .groupby('origin').wind_speed.mean()

origin
EWR    13.258987
JFK    14.384750
LGA    14.960140
Name: wind_speed, dtype: float64

In [ ]:
Answer to 'What is the northernmost airport in the United States?'

With an average windspeed of 13.857309 it appears that LGA had the windiest weather February 12th, 2013. Laguardia Airport